.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App .Container {
  flex: 1;
  margin: 5px;
}

.App img {
  width: 50px;
  margin: 0 10px;
}

.App .Name {
  font-size: 20px;
  position: relative;
  bottom: 15px;
}
