.container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
}

#email,
#mobile,
#password,
#register {
  margin-top: 10px;
}

img {
  width: 75px;
  height: 75px;
}

#workerlist {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  width: 245px;
  margin-bottom: 4px;
  border: 2px solid darkgray;
  /* width: 25%; */
  /* margin: auto; */
}

#workerimage {
  display: inline-block;
  margin-left: 57px;
}

h4 {
  margin: 0px;
}

a {
  margin-left: 10px;
  background-color: lightgray;
  color: black;
}

#homeheader {
  margin-top: 80px;
  margin-left: 240px;
}
#main-registration-container {
  margin-left: 250px;
}

#nwregheader {
}

#regname {
  margin-left: 70px;
}

#regmobileno {
  margin-left: 60px;
}

#regsalary {
  margin-left: 60px;
}

#regage {
  margin-left: 85px;
}

#regexperience {
  margin-left: 32px;
}

#regprofilephoto {
  margin-left: 5px;
}

#regareapincode {
  margin-left: 11px;
}

#regsubmit {
  margin-left: 68px;
}
