.container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
}

#email,
#mobile,
#password,
#register {
  margin-top: 10px;
}

img {
  width: 75px;
  height: 75px;
}

#workerlist {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  width: 245px;
  margin-bottom: 4px;
  border: 2px solid darkgray;
  /* width: 25%; */
  /* margin: auto; */
}

#workerimage {
  display: inline-block;
  margin-left: 57px;
}

h4 {
  margin: 0px;
}
